@{
    ViewBag.Title = "SMI";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Tiene la capacidad de manejar la información de una forma centralizada, obteniendo los datos de 
                todas las áreas del hospital y ofreciendo la posibilidad de ser visualizados y/o modificados en 
                los lugares deseados.
            </p>
        </div>

    </section>
}
@*    <h3>Capacidades del sistema:</h3>*@
    <div style="width:5%;color:black;padding: 20px 40px 30px 40px;border-radius:4px;border-width:thin;border-style:solid;
        background-color: #fff;position:absolute;top:40%;left:51%;clear:both;float:right">
        @*<h5>Crear paciente</h5>*@
        <a href="~/Patients/Create"><img src="~/Images/prescription.png" width="60" height="60" /></a>
@*        <div id="Infouno" style="width: 100px; height: 360px;position:absolute;left:270px;top:340px">
        Crear un nuevo perfil.
            </div>*@
        
    </div>

    <div style="width:5%;color:black;padding: 20px 40px 30px 40px;border-radius:4px;border-width:thin;border-style:solid;
        background-color: #fff;position:absolute;top:40%;right:51%;clear:both;float:right">
        @*<h5>Buscar pacientes</h5>*@
        <a href="~/Patients/SearchPatients"><img src="~/Images/lupa.png" width="60" height="60" /></a>
    </div>

    <div style="width:5%;color:black;padding: 20px 40px 30px 40px;border-radius:4px;border-width:thin;border-style:solid;
        background-color: #fff;position:absolute;top:61%;right:51%;clear:both;float:right">
        @*<h5>Sala de emergencias</h5>*@
        <a href="~/Home/EmergencyRoom"><img src="~/Images/ambulance car.png" width="60" height="60" /></a>
    </div>

    <div style="width:5%;color:black;padding: 20px 40px 30px 40px;border-radius:4px;border-width:thin;border-style:solid;
        background-color: #fff;position:absolute;top:61%;left:51%;clear:both;float:right">
        @*<h5>Sala de emergencias</h5>*@
        <a href="~/Home/EmergencyRoom"><img src="~/Images/hospital.png" width="60" height="60" /></a>
    </div>

